# venv
.venv/
.venv*/

# python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
mlruns/
data/raw/
data/processed/
models/clip-vit-base/
*.log
.env.secrets
token.txt
/config.yaml

# operationnal folders
/data
/models
/logs

# docker .env (dynamically created)
services/.env

# Docker
.dockerignore

# Temporary files
tmp/
*.tmp
*.temp

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Large files that shouldn't be in git
grafana-12.1.1/
grafana-enterprise_*.tar.gz
*.tar.gz
*.zip
*.dmg
*.pkg