# venv
.venv/
.venv*/

# python files
__pycache__/
*.py[cod]
*.egg-info/
build/

# .local files
.env.secrets
/config.yaml

# operationnal folders
/data
/models
/logs

# docker .env (dynamically created)
services/.env

# mac files
.DS_Store